<nav class="nav default-cursor">
  <div class="container">
    <ul class="white-text nav-ul">
      <li class="nav-brand">
        <a class="nav-brand-text white-text" href="/" title="Boarditt Home" aria-label="Boarditt Home">
          <i class="material-icons v-align md-36 white-text">note</i><h2 class="icon-text v-align">Boarditt</h2>
        </a>
      </li>
      <!-- TODO: Rename Nav-List to something more appropriate -->
      <li class="nav-list settings" title="Settings" aria-label="Settings">
        <i class="material-icons v-align white-text">settings</i>
      </li>
      <li class="nav-list new-board" title="New Board" aria-label="New Board">
        <i class="material-icons v-align ">add</i> <span class="icon-text v-align">New Board</span>
      </li>
    </ul>
  </div>
</nav>