<nav class="nav default-cursor">
  <div class="container">
    <ul class="white-text nav-ul">
      <li *ngIf="!isMenuVisible"
      class="nav-list menu-list-btn unselectable" 
      (click)="toggleIsMenuVisible()"
      title="Menu" 
      aria-label="Menu">
        <i class="material-icons v-align">menu</i>
      </li>
      <li *ngIf="isMenuVisible"
      class="nav-list menu-list-btn unselectable" 
      (click)="toggleIsMenuVisible()"
      title="Close" 
      aria-label="Close">
        <i class="material-icons v-align">close</i>
      </li>
      <li class="nav-brand unselectable">
        <a class="nav-brand-text white-text" href="/" title="Boarditt Home" aria-label="Boarditt">
          <i class="material-icons v-align md-36 white-text">note</i>
          <h2 class="icon-text v-align">Boarditt</h2>
          <h5 class="icon-text v-align beta-text">BETA</h5>
        </a>
      </li>
      <!-- TODO: Rename Nav-List to something more appropriate -->
      <li class="nav-list settings" 
      (click)="logout()"
      title="Logout" 
      aria-label="Logout">
      <i class="material-icons v-align white-text">logout</i>
        <span class="icon-text v-align" style="padding-left: 5px;"></span>
      </li>
      <!-- <li class="nav-list settings" title="Settings" aria-label="Settings">
        <i class="material-icons v-align white-text">settings</i>
      </li> -->
      <li class="nav-list new-board" title="New Board" aria-label="New Board" (click)="newBoard()">
        <i class="material-icons v-align ">add</i>
        <span class="icon-text v-align">New Board</span>
      </li>
    </ul>
  </div>
</nav>
<div 
*ngIf="isMenuVisible" 
class="menu-list">
  <ul class="nav-ul">
    <li class="menu-list-item" (click)="newBoard()" title="New Board" aria-label="New Board">
      <i class="material-icons v-align">add</i>
      <span class="icon-text v-align" style="padding-left: 5px;">New Board</span>
    </li>
  </ul>
  <div class="user-settings">
    <div class="user-settings-parent"
    title="Settings" aria-label="Settings">
      <i class="material-icons user-settings-settings">settings</i>
    </div>
    <div class="user-settings-parent-2" (click)="logout()"
    title="Logout" aria-label="Logout">
      <i class="material-icons user-settings-settings">logout</i>
    </div>
  </div>
</div>