<app-header-no-account></app-header-no-account>
<div class="body">
  <section class="section-intro">
    <div class="container">
      <h1 id="title">Boarditt</h1>
      <span id="desc">Tidy up your tasks and always have something productive to do.</span>
      <br><br><br>
      <button routerLink="/signup" class="intro-btn pointer">Create Account</button>
      <!-- <button class="intro-btn">Sandbox</button> -->
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="cards">
      <div class="card" #card1 id="card-1">
        <img class="todo-image" src="../../assets/images/todo1.PNG" alt="">
      </div>
      <div class="card" #card2 id="card-2">
        <img class="todo-image" src="../../assets/images/todo2.PNG" alt="">
      </div>
      <div class="card" #card3 id="card-3">
        <img class="todo-image" src="../../assets/images/todo3.PNG" alt="">
      </div>
      <div class="card" #card4 id="card-4">
        <img class="todo-image" src="../../assets/images/todo4.PNG" alt="">
      </div>
      <div class="card" #card5 id="card-5">
        <img class="todo-image" src="../../assets/images/todo5.PNG" alt="">
      </div>
      <div class="card" #card6 id="card-6">
        <img class="todo-image" src="../../assets/images/todo6.PNG" alt="">
      </div>
      <div class="card" #card7 id="card-7">
        <img class="todo-image" src="../../assets/images/todo7.PNG" alt="">
      </div>
      <div class="card" #card8 id="card-8">
        <img class="todo-image" src="../../assets/images/todo8.PNG" alt="">
      </div>
      <div class="card" #card9 id="card-9">
        <img class="todo-image" src="../../assets/images/todo9.PNG" alt="">
      </div>
      <div class="card" #card10 id="card-10">
        <img class="todo-image" src="../../assets/images/todo10.PNG" alt="">
      </div>
    </div>
  </section>

  <section class="section-background">
    <div class="color-blocks">
      <img src="../../assets/images/pixel2.png" id="pixel2">
      <img src="../../assets/images/ipad.png" id="ipad">
    </div>
  </section>

  <br><br><br><br><br><br>
  <section>
    <div class="container">
      <h1 class="intro-title">Todo Types</h1>
      <p class="intro-title-desc">All ways to organize your todos</p>
      <br><br>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="todo-card">
            <h3 class="todo-card-title">Boards</h3>
            <p class="todo-card-desc">A named container of lists designed to organize todos based on a single project or objective</p>
            <img src="../../assets/images/board.PNG" width="100%">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="todo-card">
            <h3 class="todo-card-title">Lists</h3>
            <p class="todo-card-desc">Belonging to a board, a list of multiple todos belonging to a named task for the project</p>
            <img src="../../assets/images/list.png" width="100%">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="todo-card">
            <h3 class="todo-card-title">Todos</h3>
            <p class="todo-card-desc">Your single todo with a small objective to acomplish for your larger task</p>
            <img src="../../assets/images/todoList.PNG" width="100%">
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-signup></app-signup>
</div>