<app-header-no-account></app-header-no-account>
<div style="margin-top:70px;"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-form">
        <h1 id="signin">Sign In</h1>
        <p style="margin-top:0px;">Email</p>
        <input #email id="email" type="email" placeholder="Email">
        <p>Password</p>
        <input #password id="password" type="password" placeholder="Password">
        <div style="margin-top: 25px">
          <input #stayLoggedIn type="checkbox" class="v-align" style="height: 17px; width: 17px;">
          <p style="display:inline; cursor: default" 
          title="Stay logged in if using a private computer">
           Stay Logged In</p>
        </div>
        <button (click)="login(email.value, password.value, stayLoggedIn.checked)">Next</button>
      </div>
    </div>
  </div>
</div>