<app-header></app-header>
<div class="nav-offset"></div>
<div class="container">
  <div *ngIf="isCheckedLogin">
    <app-login *ngIf="!isLoggedIn"></app-login>
    <app-signup *ngIf="!isLoggedIn"></app-signup>
    <div *ngIf="isLoggedIn">
      <app-board *ngFor="let board of boards" [board]="board"></app-board>
      <h2 *ngIf="boards.length === 0">You have no boards :/</h2>
      <h2 *ngIf="!isLoaded" class="loader" style="margin-top: 50px; font-size: 40px"></h2>
    </div>
  </div>
</div>
<div *ngIf="isBackgroundVisible" 
#backgroundBlock 
style="height: 100vh; width: 97vw; position: fixed; top:0; left:0;z-index:98"></div>
<div *ngIf="isHeaderBackgroundVisible" 
#headerBackgroundBlock 
(click)="toggleHeaderBackgroundVisible(false)"
style="height: 100vh; width: 97vw; position: fixed; top:0; left:0;z-index:96"></div>

<style>
.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

</style>