<div class="board default-cursor">
  <div class="board-text editable-p">
    <i class="material-icons md-48 v-align">person</i><h4 class="icon-text board-title editable">{{ board.title }}</h4>
    <div class="hidden-icon inline-block right" style="visibility:hidden">
      <div class="edit">
        <i class="material-icons md-36 v-align">mode_edit</i>
      </div>
      <div class="add-todo inline-block">
        <i class="material-icons md-48 v-align">add</i>
      </div>
    </div>   
  </div>
  <hr>
  <app-list *ngFor="let list of board.lists" [list]="list"></app-list>
</div>