<div class="container">
  <div style="margin: 70px"></div>
  <div 
  id="step1" 
  [ngStyle]="{'display': step === 1 ? 'block' : 'none'}"
  class="signup-form">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 id="register">Sign Up</h1>
        <div id="register-text">Sign Up for the simplest todo manager.</div>
        <div id="caption-text">
          <p>
            No time to waste! Let's get your account setup so you can start
            organizing your tasks. Just fill out the form, and you'll be well
            on your way!
          </p>
          <p>
            <i>
              *We'll never share your email with anyone else or store your password in plain text
            </i>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6" id="signup-from-form">
        <p style="margin-top:0px;">Email</p>
        <input #email id="email" type="email" placeholder="Email">
        <p>Password</p>
        <input #password id="password" type="password" placeholder="Password">
        <p>Re-enter Password</p>
        <input #password2 id="password2" type="password" placeholder="Password">
        <button (click)="signup(email.value, password.value, password2.value)">Next</button>
      </div>
    </div>
  </div>
  <div id="step2" 
  [ngStyle]="{'display': step === 2 ? 'block' : 'none'}"
  style="opacity:0; height: 424px" 
  class="signup-form">
    <div *ngIf="!board" style="height: 100%">
      <div class="tip" id="tip-new-board">
        <p class="tip-text">Click to create your first board!</p>
        <div class="tip-pointer"></div>
      </div>
      <button 
      (click)="createBoard()" 
      class="new-board-btn">
        <i class="material-icons md-48 v-align">add</i> New Board
      </button>
    </div>
    <app-board-guide *ngIf="board" [board]="board"></app-board-guide>
    <a href="/" class="skip-btn"><i>Skip ></i></a>
  </div>
</div>