/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Roboto', 'sans-seriff';
  background: rgb(235, 230, 230);
}

.nav {
  background: rgb(50, 106, 228);
  width: 100%;
  height: 70px;
  margin: 0;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
}

.nav-brand {
  display: inline-block;
}

.nav-brand-text {
  margin: 0;
  text-align: left;
  padding: 15;
}

.container {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.white-text {
  color: white;
}

.todo {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 317px;
  display: inline-grid;
  transition-duration: .2s;
}

.todo:hover {
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  z-index: 0;
}

.board {
  width: 100%;
  margin-bottom: 50px;
}

.dark-grey-text {
  color: rgb(68, 62, 62);
}

.todo-title {
  padding: 4px;
  border-bottom: 2px solid rgb(68, 62, 62);
}

.todo-group {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.todo-item {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 0px;
}

.todo-item-text {
  display: inline-block;
  width: 250px;
  padding-left: 40px;
  overflow-wrap: break-word;
}

.todo-actions {
  margin-top: 10px;
}

.todo-actions div {
  display: inline-block;
  margin-right: 15px;
}

.edit {
  float: right;
  transition-duration: .2s;
}

.todo-left-options {
  position: absolute;
}

.drag {
  transition-duration: .2s;
  cursor: move;
  display: inline-block;
}

.drag:hover {
  color: white;
}

.todo-actions div {
  transition-duration: 200ms;
}

.todo-actions div:hover {
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.nav-offset {
  height: 70px;
}

.nav-list {
  margin: 0;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 5px;
  float: right;
  transform: translateY(-5px);
  transition-duration: .1s;
}

.nav-list:hover {
  background: rgba(0, 0, 0, 0.25);
}

.nav-ul {
  margin: 0;
  padding: 0;
}

input {
  background-color:rgba(0, 0, 0, 0);
  color: rgb(68, 62, 62);
  border: none;
  outline:none;
  font-family: 'Roboto', 'sans-seriff';
  font-size: 16px;
}

.todo-title-text {
  display: inline-block;
  padding-bottom: 5px;
}

.todo-item-content, .edit {
  display: inline;
  transition-duration: 200ms;
}

.edit:hover {
  color: white;
}

.v-align {
  vertical-align: middle;
}

.icon-text {
  display: inline-block;
}

.board-title {
  font-weight: 1000;
}

#menu-btn {
  position: fixed;
  padding: 16px;
}

#new-board:hover {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
}

.todo-add-input {
  padding-left: 25px;
  background-color:rgba(0, 0, 0, 0);
  color: rgb(68, 62, 62);
  border: none;
  outline:none;
  font-family: 'Roboto', 'sans-seriff';
  font-size: 16px;
  width: 250px;
  height: 20px;
}

.todo-edit-input {
  padding-left: 40px;
  background-color:rgba(0, 0, 0, 0);
  color: rgb(68, 62, 62);
  border: none;
  outline:none;
  font-family: 'Roboto', 'sans-seriff';
  font-size: 16px;
  width: 250px;
  background-color: rgba(214, 219, 219, 0.5)
}

textarea {
  resize: none;
}

.todo-add {
  margin: 0;
  padding-left: 10px;
}

.default-cursor {
  cursor: default;
}

.select {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-8px, -8px);
  border-radius: 50%;
  background: white;
  transition-duration: .2s;
}

/* Dynamicaly added class to display that todo is selected */
.todo-selected {
  border: 5px solid rgba(89, 86, 86, 0.5);
  outline-offset: -10px;
}

.color-palette {
  height: 150px;
  width: 150px;
  background: white;
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.color-type {
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border: 1px solid black;
}

.color-type:hover {
  transform: scale(1.2);
}

.color-type-red { background-color: #ea3e2e; }
.color-type-blue { background-color: #3a83d1; }
.color-type-green { background-color: #38d15e; }
.color-type-orange { background-color: #d6b017; }
.color-type-yellow { background-color: #d1e51d; }
.color-type-white { background-color: white; }

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #EBE6E6;
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  z-index: 100;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.modal-title {
  font-size: 35px
}

.modal-hint {
  font-size: 15px;
}

.modal-body {
  font-size: 20px;
}

.alert {
  padding: 15px;
  background: rgb(221, 180, 14);
  color: rgb(109, 86, 9);
  text-align: center;
  font-weight: bold;
  cursor: default;
}

.alert-close {
  float: right;
  transition-duration: .2s;
}

.alert-close:hover {
  color: white;
}

.alert-save {

}

.add-todo {
  transition-duration: .2s;
}

.add-todo:hover {
  color: white;
}

.inline-block {
  display: inline-block;
}

.right {
  float: right;
}

.material-icons.md-18 { font-size: 18px; padding: 0px; }
.material-icons.md-24 { font-size: 24px; padding: 0px; }
.material-icons.md-36 { font-size: 36px; padding: 0px; }
.material-icons.md-48 { font-size: 48px; padding: 0px; }



