<app-header></app-header>
<div class="nav-offset"></div>
<div class="container">
  <app-board *ngFor="let board of boards" [board]="board"></app-board>
  <h2 *ngIf="boards.length === 0 && isLoaded">You have no boards :/</h2>
  <h2 *ngIf="!isLoaded" class="loader"></h2>
</div>
<div *ngIf="isBackgroundVisible" 
#backgroundBlock 
style="height: 100vh; width: 97vw; position: fixed; top:0; left:0;z-index:98"></div>
<div *ngIf="isHeaderBackgroundVisible" 
#headerBackgroundBlock 
(click)="toggleHeaderBackgroundVisible(false)"
style="height: 100vh; width: 97vw; position: fixed; top:0; left:0;z-index:96"></div>